.btn-green-gradient {
    background: linear-gradient(90deg, rgba(147, 224, 96, 1) 0%, rgba(7, 217, 163, 1) 45%);
    border-radius: var(--bs-border-radius-pill) !important;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    transition: all 0.5s ease-in-out;


    &:hover {
        background: linear-gradient(90deg, rgb(65, 65, 65) 0%, rgb(21, 21, 21) 45%);
        color: white;
    }

}

.btn-black-gradient {
    background: linear-gradient(90deg, rgb(65, 65, 65) 0%, rgb(21, 21, 21) 45%);
    color: white;
    border-radius: var(--bs-border-radius-pill) !important;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    transition: all 0.5s ease-in-out;


    &:hover {
        background: linear-gradient(90deg, rgba(147, 224, 96, 1) 0%, rgba(7, 217, 163, 1) 45%);


    }

}