@import "./variables";

.my-btn {
    border-radius: var(--bs-border-radius-pill) !important;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: white;
    transition: all 0.5s ease-in-out;
}

.btn-green-gradient {
    background: linear-gradient(90deg, $green-lemon 0%, $green-fluo 45%);
    box-shadow: 5px 5px 30px $green-fluo;

    &:hover {
        background: linear-gradient(90deg, $light-black 0%, $dark-black 45%);
        box-shadow: 5px 5px 30px $light-black;
        border: transparent;

        color: white;
    }
}



.btn-black-gradient {
    background: linear-gradient(90deg, $light-black 0%, $dark-black 45%);
    box-shadow: 5px 5px 30px $light-black;
    color: white;

    &:hover {
        background: linear-gradient(90deg, $green-lemon 0%, $green-fluo 45%);
        box-shadow: 5px 5px 30px $green-fluo;
        border-color: $green-lemon;

        color: white;
    }
}