@import "./variables";

.bg-dark-gray {
    background-color: $dark-gray;
}

.bg-light-gray {
    background-color: $light-gray;
}

.bg-white-gray {
    background-color: $white-gray;
}

.color-green-fluo {
    color: $green-fluo;
}

.vertical-gradient-green {
    background: linear-gradient(0deg, rgba(147, 224, 96, 1) 0%, rgba(7, 217, 163, 1) 45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.underline-container {
    margin-top: 1rem;
    margin-bottom: 2rem;
    ;
    width: 55px;
    height: 4px;
    display: flex;
    justify-content: space-between;
}

.underline-small {
    background: linear-gradient(0deg, rgba(147, 224, 96, 1) 0%, rgba(7, 217, 163, 1) 75%);

    border-radius: var(--bs-border-radius-pill) !important;
    width: 10px;
}

.underline-big {
    background: linear-gradient(0deg, rgba(147, 224, 96, 1) 0%, rgba(7, 217, 163, 1) 75%);

    border-radius: var(--bs-border-radius-pill) !important;
    width: 40px;
}

.pb-8 {
    padding-bottom: 8rem;
}

.w-55 {
    width: 55%;
}

.top-25 {
    top: 25%;
}

.start-45 {
    left: 45%;
}

.bg-gradient-black {
    background: linear-gradient(90deg, rgb(65, 65, 65) 0%, rgb(21, 21, 21) 60%);
}

.bg-gradient-green {
    background: linear-gradient(90deg, rgb(147, 224, 96) 0%, rgb(0, 217, 166) 45%);
}

.h-10 {
    height: 10px;
}

.bg-alpha-black {
    background-color: rgba(0, 0, 0, 0.8);
}

.object-cover {
    object-fit: cover;
}