$green-lemon: rgb(147, 224, 96);
$green-fluo: rgb(0, 217, 166);
$dark-black: rgb(21, 21, 21);
$light-black: rgb(65, 65, 65);
$dark-gray: rgb(255, 255, 255);
$light-gray: rgb(250, 250, 250);
$white-gray: rgb(249, 249, 249);